Telegram/config.py
Telegram/*.session
Telegram/*.session-journal
Telegram/config.ini
*.pyc
.project
.pydevproject
.directory
Telegram/modules/helper_funcs/temp.txt
start-3.6.bat
*.session
kangsticker.png
venv
env
kigyo.session-journal
*.exe
*.png
env/
*.session-journal
config.ini
*.session-journal
*.log
shell_output.txt
.vs
Telegram/elevated_users.json
