requests
telethon==1.24.0
telethon-tgcrypto
pillow
pymongo[srv]
multicolorcaptcha
google-trans-new
bing_image_urls
geniuses
bs4
gtts
mutagen
python-telegram-bot 
sqlalchemy==1.3.23
psycopg2-binary
gpytranslate
geopy
