requests
telethon==1.23.0
telethon-tgcrypto
pillow
pymongo[srv]
multicolorcaptcha
git+https://github.com/1danish-00/google_trans_new.git
bing_image_urls
geniuses
bs4
gtts
mutagen
python-telegram-bot 
sqlalchemy==1.3.23
psycopg2-binary
gpytranslate
geopy
